.grid1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "area1 area2 area3 area4 area5";
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	margin: 50px;
	grid-gap: 20px;
	width: 500px;
	height: 300px;
}

.grid1 div {
	width: 60px;
	height: 60px;
	background-color: rgb(197,127,129);
}