body {
	background: #1339AC;
	padding: 50px;
}

.boxes div {
	padding: 15px;
	margin-bottom: 5px;
	font: 900 32px / 1 Arial;
	text-align: center;
	background: gold;
}

.boxes {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	direction: ltr;
}

.boxes div:nth-of-type(1) {
	order: 3;
}

.boxes div:nth-of-type(2) {
	order: 4;
}

.boxes div:nth-of-type(3) {
	order: 1;
}

.boxes div:nth-of-type(4) {
	order: 2;
}
