.container {
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 80vh;
}

body{
	display: flex;
	margin: 0;
	height: 100vh;
	justify-content: space-around;
	flex-direction: column;
}

button {
	padding: 30px;
}

#card {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: "overlap";
	width: 50vh;
	height: 50vh;
	transition: 1s transform ease-in-out;
	transform-style: preserve-3d;
}

.front {
	background-color: orange;
}

.back {
	background-color: blueviolet;
	transform: RotateY(180deg);
}

.flip {
	transform: RotateY(180deg)
}

.back, .front {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: overlap;
	border-radius: 10%;
	backface-visibility: hidden;
}