:root {
	--lines-width: 1px;
	--lines-color: black;
}
@font-face {
	font-family: FrutigerLTCom;
	src: url(FrutigerLTCom.woff);
}

html, body{
	height: 100%;
}

body,
p {
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}