
.scheme,
.scheme .sub-grid{
	display: grid;
}

.scheme {
	grid-template-columns: repeat(5, 1fr);
	/* perfect pixel
	   grid-template-columns: 186px 123px 138px max-content 134px;
	*/
	grid-template-rows: max-content 14px 16px max-content 57px 25px max-content 42px max-content;
	width: 90%
}
.scheme .sub-grid{
	grid-template-rows: max-content 1fr;
}

.scheme div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.scheme div:nth-last-of-type(8) p,
.scheme div:nth-last-of-type(9) p{
	width: auto;
	padding: 7px 12px;
}

p {
	padding: 7px 0;
	align-self: flex-start;
	font: 700 13px/1 FrutigerLTCom;
	letter-spacing: -0.4px;
	text-align: center;
}

.v-line:after {
	content: '';
	width: var(--lines-width);
	background-color: var(--lines-color);
}

.h-line {
	position: relative;
}

.h-line:before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: var(--lines-width);
	background-color: var(--lines-color);
}

.h-line.left:before,
.h-line.right:before {
	width: 50%;
}

.h-line.right:before {
	right: 0;
}

.h-line.left:before {
	left: 0;
}

.span-row-4 {
	grid-row: span 4;
}

.span-row-3 {
	grid-row: span 3;
}

.span-row-2 {
	grid-row: span 2;
}

.span-col-2 {
	grid-column: span 2;
}

.light-grey-item {
	width: 118px;
	background-color: #e7e5e3;
}

.grey-item {
	width: 126px;
	background-color: #c0bebc;
}

.dark-grey-item {
	width: 77px;
	padding: 10px 0;
	background-color: #7f7d7b;
	color: white;
}

.wide-item{
	width: 146px;
}