.grid1 {
	border: 2px solid rgb(140,157,173);
	width: 500px;
	height: 300px;
	display: grid;
	grid-template-columns: 120px 120px 120px;
}

.grid1 > * {
	background-color: rgb(197,127,129);
	margin: 0 10% 50% 0;
}
